*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677,#4e085f);
    padding: 10px;
}

.to-do-app{
    width: 100%;
    max-width: 540px;
    background: aliceblue;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.to-do-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #002765;
}

.to-do-app img{
    width: 30px;
    margin-left: 10px;
}

.input{
    display: flex;
    align-self: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

#input-Box{
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
}

button{
    outline: none;
    border: none;
    padding: 16px 40px;
    font-size: 15px;
    color: #fff;
    background: #ff5945;
    border-radius: 50px;
    cursor: pointer;
}

ul li{
    cursor: pointer;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 40px;
    user-select: none;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    left: 0;
    width: 28px;
    height: 22px;
    border-radius: 50%;
    background-image: url(images/radio-button.png);
    background-position: center;
    background-size: cover;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    color: #555;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}